In [0]:
import pandas as pd

In [0]:
url = 'https://raw.githubusercontent.com/wblakecannon/DataCamp/master/10-cleaning-data-in-python/_datasets/airquality.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [0]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [0]:
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
5     28.0      NaN  14.9    66      5    6
6     23.0    299.0   8.6    65      5    7
7     19.0     99.0  13.8    59      5    8
8      8.0     19.0  20.1    61      5    9
9      NaN    194.0   8.6    69      5   10
10     7.0      NaN   6.9    74      5   11
11    16.0    256.0   9.7    69      5   12
12    11.0    290.0   9.2    66      5   13
13    14.0    274.0  10.9    68      5   14
14    18.0     65.0  13.2    58      5   15
15    14.0    334.0  11.5    64      5   16
16    34.0    307.0  12.0    66      5   17
17     6.0     78.0  18.4    57      5   18
18    30.0    322.0  11.5    68      5   19
19    11.0     44.0   9.7    62      5   20
20     1.0      8.0   9.7    59      5   21
21    11.0    320.0  16.6    73      5   22
22     4.0     25.0   9.7    61      5   23
23    32.0     92.0  12.0    61      5   24
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
27    23.0     13.0  12.0    67      5   28
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
..     ...      ...   ...   ...    ...  ...
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [0]:
#Imputation fills in the missing value with mean value for each column.

In [0]:
df.fillna(df.mean(), inplace=True)

In [0]:
df

         Ozone     Solar.R  Wind  Temp  Month  Day
0     41.00000  190.000000   7.4    67      5    1
1     36.00000  118.000000   8.0    72      5    2
2     12.00000  149.000000  12.6    74      5    3
3     18.00000  313.000000  11.5    62      5    4
4     42.12931  185.931507  14.3    56      5    5
5     28.00000  185.931507  14.9    66      5    6
6     23.00000  299.000000   8.6    65      5    7
7     19.00000   99.000000  13.8    59      5    8
8      8.00000   19.000000  20.1    61      5    9
9     42.12931  194.000000   8.6    69      5   10
10     7.00000  185.931507   6.9    74      5   11
11    16.00000  256.000000   9.7    69      5   12
12    11.00000  290.000000   9.2    66      5   13
13    14.00000  274.000000  10.9    68      5   14
14    18.00000   65.000000  13.2    58      5   15
15    14.00000  334.000000  11.5    64      5   16
16    34.00000  307.000000  12.0    66      5   17
17     6.00000   78.000000  18.4    57      5   18
18    30.00000  322.000000  11.5    68      5   19
19    11.00000   44.000000   9.7    62      5   20
20     1.00000    8.000000   9.7    59      5   21
21    11.00000  320.000000  16.6    73      5   22
22     4.00000   25.000000   9.7    61      5   23
23    32.00000   92.000000  12.0    61      5   24
24    42.12931   66.000000  16.6    57      5   25
25    42.12931  266.000000  14.9    58      5   26
26    42.12931  185.931507   8.0    57      5   27
27    23.00000   13.000000  12.0    67      5   28
28    45.00000  252.000000  14.9    81      5   29
29   115.00000  223.000000   5.7    79      5   30
..         ...         ...   ...   ...    ...  ...
123   96.00000  167.000000   6.9    91      9    1
124   78.00000  197.000000   5.1    92      9    2
125   73.00000  183.000000   2.8    93      9    3
126   91.00000  189.000000   4.6    93      9    4
127   47.00000   95.000000   7.4    87      9    5
128   32.00000   92.000000  15.5    84      9    6
129   20.00000  252.000000  10.9    80      9    7
130   23.00000  220.000000  10.3    78      9    8
131   21.00000  230.000000  10.9    75      9    9
132   24.00000  259.000000   9.7    73      9   10
133   44.00000  236.000000  14.9    81      9   11
134   21.00000  259.000000  15.5    76      9   12
135   28.00000  238.000000   6.3    77      9   13
136    9.00000   24.000000  10.9    71      9   14
137   13.00000  112.000000  11.5    71      9   15
138   46.00000  237.000000   6.9    78      9   16
139   18.00000  224.000000  13.8    67      9   17
140   13.00000   27.000000  10.3    76      9   18
141   24.00000  238.000000  10.3    68      9   19
142   16.00000  201.000000   8.0    82      9   20
143   13.00000  238.000000  12.6    64      9   21
144   23.00000   14.000000   9.2    71      9   22
145   36.00000  139.000000  10.3    81      9   23
146    7.00000   49.000000  10.3    69      9   24
147   14.00000   20.000000  16.6    63      9   25
148   30.00000  193.000000   6.9    70      9   26
149   42.12931  145.000000  13.2    77      9   27
150   14.00000  191.000000  14.3    75      9   28
151   18.00000  131.000000   8.0    76      9   29
152   20.00000  223.000000  11.5    68      9   30

[153 rows x 6 columns]

In [0]:
# count the number of NaN values in each column - All values have been imputed!
print(df.isnull().sum())

Ozone      0
Solar.R    0
Wind       0
Temp       0
Month      0
Day        0
dtype: int64